
.movieSection__title {
  font-family:Playfair;
  color: #C2C4C5;
  padding: 20px;  
}
.movieSection__row {
  display: flex;
  overflow-x:scroll; 
  overflow-y: hidden;
  padding: 20px;
}
.movieSection__row::-webkit-scrollbar{
  display:none;
}
.movieSection__image {
  width: 100%;
  object-fit: contain;
  max-height: 250px;
  margin-right: 15px;
  transition: transform 450ms ease-in;
  box-shadow: 0 0 5px;
  cursor: pointer;
}
.movieSection__image:hover {
    transform: scale(1.09);      
}
.movieSection__name{
  font-size:12px;
}
